@model IEnumerable<CristalImb.Model.Entities.InmPropietarios>

@{
    ViewData["Title"] = "VerInmuebles";
    Layout = null;
}

<section class="content">
    <input class="form-control" type="text" id="search" placeholder="Buscar">
    <br />
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Valor)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Valor)
                    </td>
                    <td>
                        <form asp-action="EliminarInmPropietario" asp-route-id="@item.InmProId" class="d-inline">
                            <button type="submit" onclick="confirm('¿Desea eliminar este registro?')" class="btn alert-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>

    <script type="text/javascript">

        document.querySelector(".search").addEventListener("keyup", searchFunction);
        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.querySelector(".search");
            filter = input.value.toUpperCase();
            table = document.querySelector(".table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}