@model IEnumerable<CristalImb.Model.Entities.InmPropietarios>

@{
    ViewData["Title"] = "VerInmuebles";
    Layout = null;
}

<section class="content">
    <input class="form-control" type="search" id="search" placeholder="Buscar">
    <br />
    <table class="table" id="tablita">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmueble.Valor)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Valor)
                    </td>
                    <td>
                        <form asp-action="EliminarInmPropietario" asp-route-id="@item.InmProId" class="d-inline">
                            <button type="submit" onclick="confirm('¿Desea eliminar este registro?')" class="btn alert-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
<script type="text/javascript">

    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#tablita tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var primero = rows[i].cells[0].textContent.toUpperCase();
            var segundo = rows[i].cells[1].textContent.toUpperCase();
            var tercero = rows[i].cells[2].textContent.toUpperCase();
            var cuarto = rows[i].cells[3].textContent.toUpperCase();
            var quinto = rows[i].cells[4].textContent.toUpperCase();
            if (primero.indexOf(filter) > -1 || segundo.indexOf(filter) > -1 || tercero.indexOf(filter) > -1 || cuarto.indexOf(filter) > -1 || quinto.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#search').addEventListener('keyup', filterTable, false);
</script>
@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>

    
}