@model IEnumerable<CristalImb.Model.Entities.EstadosInmueble>

@{
    ViewData["Title"] = "Estados de inmueble";
}

@section Styles{
    <style>
        .contenido {
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="m-0 row justify-content-center align-items-baseline">
            <div class="contenido">
                <h3 class="text-center"> Gestión de estados de inmueble</h3>
                <hr />
                <div class="botonCrear col-12 p-3 text-center accent-teal">
                    <p>
                        <a onclick="mostrarModal('@Url.Action("RegistrarEstadoInm","EstadosInmueble", "null", Context.Request.Scheme)', 'Registrar Estados Inmueble')" class="btn btn-outline-success"><i class="fas fa-plus"></i> Registrar Estado inmueble</a>
                    </p>
                </div>
                <div class="table-responsive" style="width: 1000px; margin: 0 auto;">
                    <table class="display nowrap" id="tabla" cellspacing="0" style="width: 100%;">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreEstado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th> Estado </th>
                                <th>Editar </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelx => x.NombreEstado)
                                    </td>
                                    <td>
                                        @if (x.Estado == true)
                                        {
                                            <p>Activo</p>
                                        }
                                        else
                                        {
                                            <p>Inactivo</p>
                                        }
                                    </td>
                                    <td>
                                        @if (x.Estado == true)
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@x.IdEstadoInm">
                                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                                            </form>
                                        }
                                        else if (x.Estado == false)
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@x.IdEstadoInm">
                                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                                            </form>
                                        }
                                    </td>
                                    <td>
                                        <a onclick="mostrarModal('@Url.Action("EditarEstadoInm","EstadosInmueble", new { id = x.IdEstadoInm }, Context.Request.Scheme)', 'Editar estado de inmueble')" class="btn alert-primary"><i class="fas fa-edit"></i></a>
                                        @*<a asp-action="EditarEstadoInm" asp-route-id="@x.IdEstadoInm" class="btn alert-primary"><i class="fas fa-edit"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarEstadoInm")) {
        <text>
        Swal.fire({
        title: "Guardar estado inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstadoInm")) {
        <text>
        Swal.fire({
        title: "Editar estado inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
    </script>
}