@model IEnumerable<CristalImb.Model.Entities.TipoInmuebles>

@{
    ViewData["Title"] = "IndexTipoInmuebles";
}

@section Styles{
    <style>
        .contenido {
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="m-0 row justify-content-center align-items-baseline">
            <div class="contenido">
                <h3 class="text-center"> Gestión de tipo de inmuebles</h3>
                <hr />
                <div class="botonCrear col-12 p-3 text-center accent-teal">
                    <br />
                    <p>
                        <a onclick="mostrarModal('@Url.Action("RegistrarTipoInmueble","TipoInmuebles", "null", Context.Request.Scheme)', 'Registrar tipo de inmueble')" class="btn btn-outline-success"><i class="fas fa-plus"></i> Registrar tipo de inmueble.</a>
                    </p>
                    <br />
                </div>
                <div>
                    <table class="table table-striped table-bordered col-12" id="tabla">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreTipoInm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th> </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelx => x.NombreTipoInm)
                                    </td>
                                    <td>
                                        @if (x.Estado == true)
                                        {
                                            <p>Activo</p>
                                        }
                                        else
                                        {
                                            <p>Desactivo</p>
                                        }
                                    </td>
                                    <td>
                                        @if (x.Estado == true)
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@x.TipoInmuebleId">
                                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                                            </form>
                                        }
                                        else if (x.Estado == false)
                                        {
                                            <form asp-action="ActualizarEstado" asp-route-id="@x.TipoInmuebleId">
                                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                                            </form>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="EditarTipoInmueble" asp-route-id="@x.TipoInmuebleId" class="btn alert-primary"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarTipoInmueble")) {
        <text>
        Swal.fire({
        title: "Guardar tipo inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarTipoInmueble")) {
        <text>
        Swal.fire({
        title: "Editar tipo inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
    </script>
}