@model IEnumerable<CristalImb.Model.Entities.InmuebleDetalleArchivos>

@{
    ViewData["Title"] = "Pagina inicio";
    Layout = "_Landing";
}

<section class="page-section" id="services">
    <div class="card-header">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Inmuebles en oferta.</h2>
        </div>
        <div class="row" id="oferta" asp-action="IndexLanding">
            @foreach (var x in Model)
            {

                <div class="swiper-slide" style="width: 25rem; right: 1px; border-right-width: 30px; border-color: #FFFF; border-bottom-width: 20px;">
                    <img class="card-img-top" src="@("~/imagenesInmueble/" + x.NombreArchivo)" asp-append-version="true" style="height: 250px; width: 390px; margin-left:auto; margin-right:auto;"/>
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelx => x.Inmueble.Codigo) - $ @Html.DisplayFor(modelx => x.Inmueble.Valor)</h5>
                        <p class="card-text text-center">@Html.DisplayFor(modelx => x.Inmueble.Direccion) - @Html.DisplayFor(modelx => x.Inmueble.Zona.NombreZona)</p>
                        <p class="card-text text-center">@Html.DisplayFor(modelx => x.Inmueble.Descripcion)</p>
                    </div>
                </div>



            }

        </div>

    </div>
</section>



