@model IEnumerable<CristalImb.Model.Entities.UsuarioIdentity>
@section Styles{

}


<div class="container-fluid">
    <div class="row">
        <div class="botonCrear col-12 p-3 text-center accent-teal">
            <br />
            <p>
                <a onclick="mostrarModal('@Url.Action("CrearUsuarios","Usuarios", "null", Context.Request.Scheme)', 'Registrar usuario')" class="btn btn-outline-success"><i class="fas fa-plus"></i> Registrar usuario.</a>
            </p>
            <br />
        </div>
        <div class="botonAsignar col-12 p-3 text-center accent-teal">
            <br />
            <a asp-action="AsignarRolesUsuario" asp-controller="Rol" class="btn btn-outline-success">
                <i class="fas fa-plus"></i>
                <p> Asignar roles</p>
            </a>
            <br />
        </div>
    </div>
</div>

<div class="content">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-11 align-self-center text-center">
                <table id="tabla" class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Identificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => usuario.Identificacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => usuario.Email)
                            </td>
                            <td>
                                <a class="btn btn-success" asp-route-usuarioId="@usuario.Id" asp-action="Detalle" asp-controller="Rol">Detalle</a>
                            </td>
                            <td>
                                <form asp-action="eliminar" asp-route-id="@usuario.Id" method="post">
                                    <span id=""></span>
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar este usuario?')">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/tabla.js"></script>
    <script src="~/js/modal.js"></script>
}