@model IEnumerable<CristalImb.Model.Entities.UsuarioIdentity>
@section Styles{

}

<div class="content">
    <div class="container-fluid">
        <div class="m-0 row justify-content-center align-items-baseline">
            <div class="col-6">
                <h3 class="text-center"> Gestión de usuarios</h3>
                <hr />
                <div class="col-md-12 row">
                    <div class="botonCrear col-md-12 p-3 text-center accent-teal">
                        <br />
                        <p>
                            <a onclick="mostrarModal('@Url.Action("CrearUsuarios","Usuarios", "null", Context.Request.Scheme)', 'Registrar usuario')" class="btn btn-outline-success"><i class="fas fa-plus"></i> Registrar usuario.</a>
                        </p>
                        <br />
                    </div>
                    @*<div class="botonAsignar col-md-6 p-3 text-center accent-teal">
                            <br />
                            <a asp-action="AsignarRolesUsuario" asp-controller="Rol" class="btn btn-outline-success"><i class="fas fa-plus"></i> Asignar rol</a>
                            <br />
                        </div>*@
                </div>
            </div>

        </div>
    </div>

    <div class="content">

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-11 align-self-center text-center">
                    <table id="tabla" class="table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Identificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdentityUser.Email)
                                </th>
                                <th> Rol </th>
                                <th> Estado </th>
                                <th> Estado </th>
                                <th> Editar </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => usuario.Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => usuario.IdentityUser.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => usuario.Rol)
                                    </td>
                                    <td>
                                        @if (usuario.Estado == true)
                                        {
                                            <p>Activo</p>
                                        }
                                        else
                                        {
                                            <p>Desactivo</p>
                                        }
                                    </td>
                                    <td>
                                        @if (usuario.Estado == true)
                                        {
                                            @if (usuario.Rol == "Administrador")
                                            {
                                                <p></p>
                                            }
                                            else
                                            {
                                                <form asp-action="ActualizarEstado" asp-route-id="@usuario.UsuarioId">
                                                    <button type="submit"><i class="fas fa-toggle-on"></i></button>
                                                </form>
                                            }

                                        }
                                        else if (usuario.Estado == false)
                                        {
                                            @if (usuario.Rol == "Administrador")
                                            {
                                                <p></p>
                                            }
                                            else
                                            {
                                                <form asp-action="ActualizarEstado" asp-route-id="@usuario.UsuarioId">
                                                    <button type="submit"><i class="fas fa-toggle-off"></i></button>
                                                </form>
                                            }
                                        }
                                        </td>
                                    <td>
                                        <a onclick="mostrarModal('@Url.Action("EditarUsuarios","Usuarios", new { id = usuario.UsuarioId }, Context.Request.Scheme)', 'Editar usuario')" class="btn alert-primary"><i class="fas fa-edit"></i></a>
                                        @*<a asp-action="EditarUsuario" asp-route-rol="@usuario.UsuarioId" class="btn alert-primary">Editar</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarUsuario")) {
        <text>
        Swal.fire({
        title: "Guardar Usuario",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarUsuario")) {
        <text>
        Swal.fire({
        title: "Editar Usuario",
            icon: 'success',
            html: "@TempData["Mensaje"]"
        })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("ErrorEstadoRol")) {
        <text>
        Swal.fire({
            title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
    </script>
}


