@model IEnumerable<CristalImb.Model.Entities.InmPropietarios>

@{
    ViewData["Title"] = "Historial propietarios e inmuebles";
}

@section Styles{
    <style>
        .contenido {
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}
<section class="content">
    <div class="container-fluid">
        <div class="m-0 row justify-content-center align-items-baseline">

            <div class="contenido">
                <h3 class="text-center"> Historial de inmuebles - propietarios</h3>
                <hr />
                <div class="botonCrear col-12 p-3 text-center accent-teal">
                    <br />
                </div>
                <div class="table-responsive" style="width: 1000px; margin: 0 auto;">
                    <table class="display nowrap" id="tabla" cellspacing="0" style="width: 100%;">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Propietario.Identificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Propietario.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Propietario.Apellido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Inmueble.Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaFin)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Propietario.Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Propietario.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Propietario.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Inmueble.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.FechaInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.FechaFin)

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
}