@model IEnumerable<CristalImb.Model.Entities.InmuebleDetalleArchivos>

@{
    ViewData["Title"] = "IndexInmueble";
    Layout = null;
}

@section Styles{
    <style>
        .contenido {
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}
<section class="content">
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {

            <tr>

                <td>
                    @if (x.NombreArchivo != null)
                    {
                        <img src="@("~/imagenesInmueble/" + x.NombreArchivo)" asp-append-version="true" class="img-brand w-25 h-10" />
                    }
                </td>
                <td>
                    <form asp-action="EliminarImagen" asp-route-id="@x.InmuebleDetalleId" class="d-inline">
                        <button type="submit" onclick="confirm('¿Desea eliminar este registro?')" class="btn alert-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>

            </tr>

            }
        </tbody>
    </table>
</section>

@section Scripts{
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarInmueble")) {
        <text>
        Swal.fire({
            title: "Guardar Inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarInmueble")) {
        <text>
        Swal.fire({
            title: "Editar Inmueble",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
        })
        </text>
        }

    </script>
}
