@model CristalImb.Model.Entities.Cita

@{
    ViewData["Title"] = "DetallesCita";
    Layout = null;
}

@section Styles{
    <style>
        .detalle {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 5%;
        }

        .register-box {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


}

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Detalle Cita</b></a>
            <hr />
            <div class="card-body">

                <form asp-action="DetallesCita">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CitaId" />
                    <div class="form-group">
                        <label class="control-label">Código Inmueble: @Model.Inmuebles.Codigo</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Identificacion: @Model.Identificacion</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre: @Model.Nombre</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido: @Model.Apellido</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Télefono: @Model.Telefono</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo: @Model.Correo</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dirección: @Model.Direccion</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha: @Model.FechaHora</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado Cita: @Model.EstadoCita.Nombre</label>
                    </div>
                    <a asp-action="IndexCita">Volver</a>
                </form>
            </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



