@model IEnumerable<CristalImb.Model.Entities.Cita>

@{
    ViewData["Title"] = "IndexCita";
}

@section Styles{
    <style>
        .contenido {
            text-align: center;
            margin-bottom: 5%;
        }

        tr td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            color: #08006f;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="m-0 row justify-content-center align-items-baseline">
            <div class="contenido">
                <h3 class="text-center"> Gestión de citas</h3>
                <hr />
                <div class="botonCrear col-12 p-3 text-center accent-teal">
                    <p>
                        <a onclick="mostrarModal('@Url.Action("RegistrarCita","Cita", "null", Context.Request.Scheme)', 'Registrar cita')" class="btn btn-outline-success"><i class="fas fa-plus"></i> Registrar cita.</a>
                    </p>
                </div>
                <div class="table-responsive" style="width: 1070px; margin: 0 auto;">
                    <table class="display nowrap" id="tabla" cellspacing="0" style="width: 100%;">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Identificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaHora)
                                </th>
                                <th>
                                    Estado de cita
                                </th>
                                <th>Detalle</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.FechaHora)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelx => x.EstadoCita.Nombre)
                                    </td>
                                    <td>
                                        @*<a asp-action="DetallesCita" asp-route-id="@x.CitaId" class="btn btn-success">Detalle</a>*@
                                        <a onclick="mostrarModal('@Url.Action("DetallesCita","Cita", new { id = x.CitaId }, Context.Request.Scheme)', 'Detalle cita')" class="btn btn-success">Detalle</a>
                                    </td>
                                    <td>
                                        <a onclick="mostrarModal('@Url.Action("EditarCita","Cita", new { id = x.CitaId }, Context.Request.Scheme)', 'Editar cita')" class="btn alert-primary"><i class="fas fa-edit"></i></a>
                                        @*<a asp-action="EditarCita" asp-route-id="@x.CitaId" class="btn alert-primary"><i class="fas fa-edit"></i></a>*@
                                    </td>
                                    <td>
                                        <form asp-action="EliminarCita" asp-route-id="@x.CitaId" class="d-inline">
                                            <button type="submit" onclick="confirm('¿Desea eliminar este registro?')" class="btn alert-danger"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Tabla.js"></script>
    <script src="~/js/modal.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("GuardarCita")) {
        <text>
        Swal.fire({
            title: "Guardar cita",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("fechaHoraExiste")) {
        <text>
        Swal.fire({
            title: "error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }


        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarCita")) {
        <text>
        Swal.fire({
            title: "Editar cita",
            icon: 'success',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) {
        <text>
        Swal.fire({
        title: "Error",
            icon: 'error',
            html: "@TempData["Mensaje"]"
            })
        </text>
        }
    </script>
}
